body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 72pt; }

.app-container {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 1600px;
  height: 900px; }

.app-container .column1 {
  float: left;
  width: 20%;
  overflow: hidden; }

.app-container .column2 {
  float: left;
  width: 60%;
  overflow: hidden; }

.app-container .column3 {
  float: left;
  width: 19.5%;
  overflow: hidden; }

.clock-face-container {
  display: block;
  text-align: center; }

.clock-face {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: sans-serif; }

.clock-face tr {
  margin: 0;
  padding: 0; }

.clock-face td {
  text-align: center;
  margin: 0;
  padding: 0; }

.clock-face .time {
  font-size: 300%;
  line-height: 1em; }

.clock-face .seconds {
  width: 1.5em;
  font-size: 100%;
  vertical-align: bottom;
  text-align: center;
  line-height: 1em; }

.clock-face .ampm {
  font-size: 90%;
  vertical-align: top; }

.clock-face .date {
  font-size: 25%;
  text-align: center; }

.weather-forecast-container {
  margin-top: .25em;
  display: block;
  font-family: sans-serif; }

/*.weather-forecast-container div {
    float: right;
}*/
.weather-forecast {
  margin: 0 auto;
  display: block;
  width: 6em;
  align-content: center; }

.weather-forecast .temperature {
  display: inline-block;
  text-align: center;
  width: 2em;
  float: left;
  font-size: 175%; }

.weather-forecast .icon {
  display: inline-block;
  width: 2em;
  float: right; }

.weather-forecast .icon-image {
  display: block;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2em;
  width: 2em; }

.clear-day {
  background-image: url("/images/clear.png"); }

.rain {
  background-image: url("/images/rain.png"); }

.thunderstorms {
  background-image: url("/images/thunderstorm.png"); }

.snow {
  background-image: url("/images/snow.png"); }

.fog {
  background-image: url("/images/fog.png"); }

.windy {
  background-image: url("/images/wind.png"); }

.cloudy {
  background-image: url("/images/cloudy.png"); }

.partly-cloudy-day {
  background-image: url("/images/partly-cloudy.png"); }

.weather-details {
  display: block;
  padding: 1em 0;
  text-align: left;
  font-family: serif;
  font-size: 25%;
  color: darkorange; }

.weather-details div {
  padding: 0;
  margin: 0 0 .5em 0; }

.weather-details .title {
  display: inline-block;
  width: 5em; }

.weather-details .value {
  color: deepskyblue; }

.time-details {
  display: block;
  padding: 1em 0;
  text-align: left;
  font-family: serif;
  font-size: 25%;
  color: darkorange; }

.time-details div {
  padding: 0;
  margin: 0 0 .75em .5em; }

.time-details .title {
  display: inline-block;
  width: 6.5em;
  color: deepskyblue; }

