@import "vars";

body {
    margin: 0;
    padding: 0;
    color: $site-foreground;
    font-size: $clock-fontsize;
}

div, td {
    border: $dev-borders;
}

.app-container {
    background-color: $site-background;
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 900px;
}

.app-container .column1 {
    border: $dev-borders;
    float: left;
    width: 20%;
    height: 900px;
    overflow: hidden;
}

.app-container .column2 {
    border: $dev-borders;
    float: left;
    width: 60%;
    height: 900px;
    overflow: hidden;
}

.app-container .column3 {
    border: $dev-borders;
    float: left;
    width: 20%;
    height: 900px;
    overflow: hidden;
}

@import "clock-face";
@import "weather-forecast";
@import "weather-details";
