@import "vars";

body {
    margin: 0;
    padding: 0;
    color: $site-foreground;
    font-size: $clock-fontsize;
}

.app-container {
    background-color: $site-background;
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 900px;
}

@import "clock-face";
@import "weather-forecast";
