.time-details {
    display: block;
    padding: 1em 0;
    text-align: left;
    font-family: serif;
    font-size: 25%;
    color: darkorange;
}

.time-details div {
    padding: 0;
    margin: 0 0 .75em .5em;
}

.time-details .title {
    display: inline-block;
    width: 6.5em;
    color: deepskyblue;
}

.time-details .value {
}