$site-background: black;
$site-foreground: white;
$clock-fontsize: 72pt;
$forecast-background: darken(indigo, 15%);
$forecast-border-color: gray;
$details-title-color: deepskyblue;
$details-value-color: darkorange;
$dev-borders:;// 1px solid gray;
